
:root{
    --bg-color:#e8fccf;
    --border-color:#1b4332;
    --border-color-light:#b4ceb9;
    --text-light:rgb(188, 188, 188);
    --cell-colour:#edfff0;
    --right-color:lightblue;
    --wrong-color:tomato;
    --font-dark:rgb(33, 33, 33);
    --font-light:rgb(7, 6, 6);
  }

  *{
    background-color:var(--bg-color) ;
  }
  