
:root{
    --bg-color:#e8fccf;
    --border-color:#1b4332;
    --border-color-light:#b4ceb9;
    --text-light:rgb(188, 188, 188);
    --cell-colour:#edfff0;
    --right-color:lightblue;
    --wrong-color:tomato;
    --font-dark:rgb(33, 33, 33);
    --font-light:rgb(7, 6, 6);
    --bg-colour: #e8fccf;
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
  }

  *{
    /* -webkit-appearance: none; */
    box-sizing: border-box;         
    margin: 0;
    padding: 0;
    font-family: monospace;
}
  body{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color:var(--bg-color);
    height: 100vh;
  }
  .button-diff{
    background-color: var(--cell-colour);
    display: flex;  
    align-items: center;
    color: var(--font-light);
    height: 55px;
    margin-right:10px; 
    padding: 0 22px;
    font-weight: 700;
    border: 4px solid var(--border-color);
    font-size: 1.7rem;
    width: 200px;
    transition: all 0.7s ease;
  }

.button-diff:hover{
    transition: all 0.7s ease;
    background-color:var(--border-color-light);
    width: 300px;
}
a{
  text-decoration: none !important;
  color: var(--border-color);
}
.grid-container{
  border:2px solid var(--border-color);
  color: var(--font-dark);
}


.grid-container-box {
display: inline-grid;
grid-template-columns: auto auto auto ;

}
.grid-container{
  display: inline-grid;
  grid-template-columns: auto auto  ;
  margin-bottom: 30px;
}

.grid-container-box{
  border: 1.3px solid var(--border-color);
 
  border-collapse: collapse;
}


.grid-item {
  text-align: center;
  
}

h1 {
  color: var(--border-color);
  font-weight: 500;
  font-size: clamp(2rem, 3vw + 2rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  margin-bottom: 50px;
}
h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-colour);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}



@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






