
:root{
    --bg-color:#203606;
    --border-color:#71eeba;
    --border-color-light:#5cc671;
    --text-light:rgb(117, 113, 113);
    --cell-colour:#5d9065;
    --right-color:lightblue;
    --wrong-color:tomato;
  
  
  
  }