:root{
    --bg-color:#855d7e;
    --border-color:#453343;
    --border-color-light:#b2a7b0;
    --text-light:rgb(117, 113, 113);
    --cell-colour:#f2e9e4;
    --right-color:lightblue;
    --wrong-color:tomato;
  
  
  
  }